.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(180deg, #faf8ff 0%, #ffffff 30%, #faf8ff 100%);
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 30px 24px 80px;
}