.wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 24px;

  width: 100%;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 992px) {

  .wrapper {
    grid-template-columns: 1fr;
  }
}